doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    meta(name='csrf-token', content='_csrf')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='css/dark.css', type='text/css')
    link(rel='stylesheet', href='css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //
      if lt IE 9script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    //
      Document Title
      =============================================
    title Login | Roomtini
    style.

      .container {
        top: 30%;
      }
      @media (max-width: 991px) {
        .container {
          width: 100% !important;
        }
      }



  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Content
        =============================================
      section#content
        .content-wrap.nopadding
          .section.nopadding.nomargin(style='width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;')
          .section.nobg.full-screen.nopadding.nomargin
            .container.divcenter.clearfix
              .row.center
                a(href='/')
                  img(src='images/canvasone-dark@2x.png', alt='Can Logo', style='width: 300px;margin: 20px;')
              .panel.panel-default.divcenter.noradius.noborder(style='max-width: 400px;')
                if messages.errors
                  .alert.alert-danger.fade.in
                    button.close(type='button', data-dismiss='alert')
                      i.fa.fa-times-circle-o
                    for error in messages.errors
                      div= error
                if messages.info
                  .alert.alert-info.fade.in
                    button.close(type='button', data-dismiss='alert')
                      i.fa.fa-times-circle-o
                    for info in messages.info
                      div= info.msg
                if messages.success
                  .alert.alert-success.fade.in
                    button.close(type='button', data-dismiss='alert')
                      i.fa.fa-times-circle-o
                    for success in messages.success
                      div= success.msg
                .panel-body(style='padding: 40px;')
                  form.nobottommargin(method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    h3 Login to your Account
                    .col_full
                      label(for='email') Email:
                      input#email.form-control.not-dark(type='email', name='email', value='')
                    .col_full
                      label(for='login-form-password') Password:
                      input#password.form-control.not-dark(type='password', name='password')
                    .col_full.nobottommargin
                      button#login-form-submit.button.button-3d.button-black.nomargin(name='login-form-submit', value='login') Login
                      a.fright(href='/forgot') Forgot Password?
                  .line.line-sm
                  .center
                    h4(style='margin-bottom: 15px;') or Login with:
                    a.button.button-rounded.si-facebook.si-colored(href='/auth/facebook', style='text-transform: none;')
                      i.icon-facebook
                      | Facebook
                    span.hidden-xs or
                    a.button.button-rounded.si-twitter.si-colored(href='/auth/linkedin', style='text-transform: none;')
                      i.icon-linkedin
                      | Linkedin
              .row.center.dark
                small Copyrights © All Rights Reserved by Roomtini Inc.
      // #content end
    // #wrapper end
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='js/functions.js')
