doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='Saad', content='SemiColonWeb')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='../style.css', type='text/css')
    link(rel='stylesheet', href='../css/dark.css', type='text/css')
    link(rel='stylesheet', href='../css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='../css/animate.css', type='text/css')
    link(rel='stylesheet', href='../css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='../css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    //
      Document Title
      =============================================
    title Profile | Canvas
  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Header
        =============================================
      header#header.full-header
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            //
              Logo
              =============================================
            #logo
              a.standard-logo(href='/', data-dark-logo='images/logo-dark.png')
                img(src='images/logo.png', alt='Canvas Logo')
              a.retina-logo(href='index.html', data-dark-logo='images/logo-dark@2x.png')
                img(src='images/logo@2x.png', alt='Canvas Logo')
            // #logo end
            #top-account.dropdown
              a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                i.icon-user
              ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
                li
                  a(href='#')=((user.profile && user.profile.name) || user.email || user.id)
                li.divider(role='separator')
                li
                  a(href='/lougout')
                    | Logout 
                    i.icon-signout
            //
              Primary Navigation
              =============================================
            nav#primary-menu
            // #primary-menu end
      // #header end
      //
        Content
        =============================================
      section#content
        .content-wrap
          .container.clearfix
            .row.clearfix
              .col-sm-7.nobottommargin.col-sm-offset-2
                .row
                  if messages.errors
                    .alert.alert-danger.fade.in
                      button.close(type='button', data-dismiss='alert')
                        i.fa.fa-times-circle-o
                      for error in messages.errors
                        div= error.msg
                  if messages.info
                    .alert.alert-info.fade.in
                      button.close(type='button', data-dismiss='alert')
                        i.fa.fa-times-circle-o
                      for info in messages.info
                        div= info.msg
                  if messages.success
                    .alert.alert-success.fade.in
                      button.close(type='button', data-dismiss='alert')
                        i.fa.fa-times-circle-o
                      for success in messages.success
                        div= success.msg
                  .nobottommargin
                  form.nobottommargin(action='/account/profile', method='post')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .row
                      h3.col-md-12.col-sm-12 Profile Information
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                        label(for='login-form-username') Email:
                      .col-md-9.col-sm-12
                        input#email.form-control(type='email', name='email', value=user.email, disabled)
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                        label(for='login-form-username') Name:
                      .col-md-9.col-sm-12
                        input#name.form-control(type='text', name='name', value=user.profile.name)
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                        label(for='login-form-username') Gender:
                      .col-md-9.col-sm-12
                        .col-sm-3
                          label.radio
                            input(type='radio', name='gender', value='male', data-toggle='radio', checked=user.profile.gender=='male')
                            span Male
                        .col-sm-3
                          label.radio.col-sm-3
                            input(type='radio', name='gender', value='female', data-toggle='radio', checked=user.profile.gender=='female')
                            span Female
                        .col-sm-3
                          label.radio.col-sm-3
                            input(type='radio', name='gender', value='other', data-toggle='radio', checked=user.profile.gender=='other')
                            span Other
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                        label(for='login-form-username') Location:
                      .col-md-9.col-sm-12
                        input#location.form-control(type='text', name='location', value=user.profile.location)
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                        label(for='login-form-username') Website:
                      .col-md-9.col-sm-12
                        input#website.form-control(type='text', name='website', value=user.profile.website)
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                        label(for='login-form-username') Gravatar:
                      .col-md-9.col-sm-12
                        img.alignleft.img-circle.img-thumbnail.notopmargin.nobottommargin(src=user.gravatar(), alt='Avatar', style='max-width: 84px;')
                    .row
                      .col-md-9.col-sm-12.col-md-offset-3(style='margin-top:15px')
                        button.button.button-rounded.button-reveal.button-black.tright(type='submit', style='margin: 0px')
                          i.icon-angle-right
                          span Update Profile
            .row.clearfix.content-wrap
              .col-sm-7.nobottommargin.col-sm-offset-2
                .nobottommargin
                  form.nobottommargin(action='/account/password', method='post')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .row
                      h3.col-md-12.col-sm-12 Change Password
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                        label(for='login-form-username') New Password:
                      .col-md-9.col-sm-12
                        input.form-control(type='password', name='password', id='password')
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                        label(for='login-form-username') Confirm Password:
                      .col-md-9.col-sm-12
                        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
                    .row
                      .col-md-9.col-sm-12.col-md-offset-3(style='margin-top:15px')
                        button.button.button-rounded.button-reveal.button-blue.tright(style='margin: 0px', type='submit')
                          i.icon-lock3
                          span Change Password
            .row.clearfix
              .col-sm-7.nobottommargin.col-sm-offset-2
                .nobottommargin
                  form.nobottommargin(action='/account/delete', method='post')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .row
                      h3.col-md-12.col-sm-12 Delete Account
                    .row(style='margin-top:15px')
                      .col-md-3.col-sm-12
                      .col-md-9.col-sm-12
                        h5
                          | You can delete your account, but keep in mind this action is irreversible.
                    .row
                      .col-md-9.col-sm-12.col-md-offset-3(style='margin-top:15px')
                        button.button.button-rounded.button-reveal.button-red.tright(type='submit', style='margin: 0px')
                          i.icon-trash2
                          span Delete Account
            .row.clearfix.content-wrap
              .col-sm-7.nobottommargin.col-sm-offset-2
                .nobottommargin
                  .row
                    h3.col-md-12.col-sm-12 Link Accounts
                  .row(style='margin-top:15px')
                    .col-md-3.col-sm-12
                    .col-md-9.col-sm-12
                      a(href='/auth/linkedin') Link your LinkedIn account
                      br
                      a(href='/auth/facebook') Link your Facebook account
      // #content end
      //
        Footer
        =============================================
      footer#footer.dark
        //
          Copyrights
          =============================================
        #copyrights
          .container.clearfix
            .col_half
              | Copyrights © 2014 All Rights Reserved by Canvas Inc.
              br
              .copyright-links
                a(href='#') Terms of Use
                |  / 
                a(href='#') Privacy Policy
            .col_half.col_last.tright
              .fright.clearfix
                a.social-icon.si-small.si-borderless.si-facebook(href='#')
                  i.icon-facebook
                  i.icon-facebook
                a.social-icon.si-small.si-borderless.si-twitter(href='#')
                  i.icon-twitter
                  i.icon-twitter
                a.social-icon.si-small.si-borderless.si-gplus(href='#')
                  i.icon-gplus
                  i.icon-gplus
                a.social-icon.si-small.si-borderless.si-pinterest(href='#')
                  i.icon-pinterest
                  i.icon-pinterest
                a.social-icon.si-small.si-borderless.si-vimeo(href='#')
                  i.icon-vimeo
                  i.icon-vimeo
                a.social-icon.si-small.si-borderless.si-github(href='#')
                  i.icon-github
                  i.icon-github
                a.social-icon.si-small.si-borderless.si-yahoo(href='#')
                  i.icon-yahoo
                  i.icon-yahoo
                a.social-icon.si-small.si-borderless.si-linkedin(href='#')
                  i.icon-linkedin
                  i.icon-linkedin
              .clear
              i.icon-envelope2
              |  info@canvas.com 
              span.middot ·
              i.icon-headphones
              |  +91-11-6541-6369 
              span.middot ·
              i.icon-skype2
              |  CanvasOnSkype
        // #copyrights end
      // #footer end
    // #wrapper end
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='../js/jquery.js')
    script(type='text/javascript', src='../js/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='../js/functions.js')
    script.
      jQuery( "#tabs-profile" ).on( "tabsactivate", function( event, ui ) {
      jQuery( '.flexslider .slide' ).resize();
      });
