doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='../style.css', type='text/css')
    link(rel='stylesheet', href='../css/dark.css', type='text/css')
    link(rel='stylesheet', href='../css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='../css/animate.css', type='text/css')
    link(rel='stylesheet', href='../css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='../css/calendar.css', type='text/css')
    link(rel='stylesheet', href='../css/responsive.css', type='text/css')

    link(rel='stylesheet', href='../css/components/bs-rating.css', type='text/css')

    link(rel='stylesheet', href='../css/datepicker.css', type='text/css')
    link(rel='stylesheet', href='../css/components/timepicker.css', type='text/css')
    link(rel='stylesheet', href='../css/components/daterangepicker.css', type='text/css')

    link(rel='stylesheet', href='../css/components/bs-select.css', type='text/css')

    // Range Slider CSS
    link(rel='stylesheet', href='../css/components/ion.rangeslider.css', type='text/css')

    link(rel='stylesheet', href='../css/components/radio-checkbox.css', type='text/css')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    //
      Document Title
      =============================================
    title Matches | Roomtini
    style.
      #vertical-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 240px;
        z-index: 99;
        background: #F9F9F9;
        border-right: 1px solid #EEE;
        height: 100%;
        overflow: auto;
        padding: 140px 0 40px;
        -webkit-transition: padding .4s ease;
        -o-transition: padding .4s ease;
        transition: padding .4s ease;
      }
      .checkbox-style {
        margin-left: 6px !important;
        margin-top: 8px !important;
        z-index: 99999 !important;
      }
      .sticky-header + #vertical-nav { padding-top: 100px; }
      #vertical-nav nav ul {
      margin-bottom: 0;
      list-style: none;
      }
      #vertical-nav nav li a {
      display: block;
      padding: 10px 30px;
      color: #333;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 2px;
      font-family: 'Raleway', sans-serif;
      }
      #vertical-nav nav li i {
      font-size: 14px;
      width: 16px;
      text-align: center;
      }
      #vertical-nav nav li i:not(.icon-angle-down) {
      margin-right: 8px;
      position: relative;
      top: 1px;
      }
      #vertical-nav nav li a i.icon-angle-down {
      width: auto;
      margin-left: 5px;
      }
      #vertical-nav nav li:hover > a,
      #vertical-nav nav li.current > a,
      #vertical-nav nav li.active > a {
      background-color: #FFF;
      color: #1ABC9C;
      }
      #vertical-nav nav ul ul { display: none; }
      #vertical-nav nav ul ul a {
      font-size: 12px;
      letter-spacing: 1px;
      padding-left: 45px;
      font-family: 'Lato', sans-serif;
      }
      #vertical-nav nav ul ul a i.icon-angle-down { font-size: 12px; }
      #vertical-nav nav ul ul ul a { padding-left: 60px; }
      #vertical-nav nav ul ul ul ul a { padding-left: 75px; }
      @media (min-width: 992px) {
      #header { z-index: 199; }
      #page-title,
      #content,
      #footer { margin-left: 240px; }
      #page-title .container,
      #content .container,
      #footer .container {
      width: auto;
      padding: 0 60px;
      }
      #vertical-nav .container {
      width: 100%;
      padding: 0;
      }
      #page-title .breadcrumb { right: 60px !important; }
      }
      @media (max-width: 991px) {
      #vertical-nav {
      position: relative;
      width: 100%;
      z-index: auto;
      border: none;
      border-bottom: 1px solid #EEE;
      height: auto;
      padding: 0;
      }
      #vertical-nav .container { padding: 10px 20px; }
      #vertical-nav nav li a { padding: 10px 0; }
      #vertical-nav nav li:hover > a,
      #vertical-nav nav li.current > a,
      #vertical-nav nav li.active > a { background-color: transparent; }
      #vertical-nav nav ul ul a { padding-left: 15px; }
      #vertical-nav nav ul ul ul a { padding-left: 30px; }
      #vertical-nav nav ul ul ul ul a { padding-left: 45px; }
      }
  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Header
        =============================================
      header#header.full-header
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            //
              Logo
              =============================================
            #logo
              a.standard-logo(href='/', data-dark-logo='new/roomtini_logo.png')
                img(src='images/logo.png', alt='Roomtini Logo')
              a.retina-logo(href='/', data-dark-logo='new/roomtini_logo.png')
                img(src='new/roomtini_logo.png', alt='Roomtini Logo')
            // #logo end
            #top-account.dropdown
              a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                i.icon-user
              ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
                li
                  a(href='#')=((user.profile && user.profile.name) || user.email || user.id)
                li.divider(role='separator')
                li
                  a(href='/settings')
                    i.icon-settings(style="margin-right:2px; margin-left: 0px")
                    |  Account
                li
                  a(href='/account')
                    i.icon-user(style="margin-right:2px; margin-left: 0px")
                    |  Profile
                //li
                  //a(href='/billings')
                    //i.icon-money(style="margin-right:2px; margin-left: 0px")
                    //|  Billings
                li
                  a(href='/logout')
                    i.icon-signout(style="margin-right:2px; margin-left: 0px")
                    |  Logout 
                    
      // #header end
      #vertical-nav
        .container.clearfix
          nav
            ul
              li
                a(href='/settings')
                  i.icon-settings
                  | Account
              li.active.sub-menu
                a(href='#')
                  i.icon-briefcase
                  | Matching
                ul(style='display: block;')
                  li
                    a(href='/account') Profile
                  li.active
                    a(href='/matches') Possible Candidates
                  li
                    a(href='/roommates') Roommates


              //li
                //a(href='/Billings')
                  //i.icon-money
                  //| Billings
              li
                a(href='/logout')
                  i.icon-signout
                  | Lougout
            
      //
        Page Title
        =============================================
      
      // #page-title end
      //
        Content
        =============================================
      section#page-title
        .container.clearfix
          h1 Candidates
          span Possbile roommates
      section#content
        .container.clearfix
            .row.clearfix
              .col-sm-9
                .row
                  if messages.errors
                    .alert.alert-danger.fade.in
                      button.close(type='button', data-dismiss='alert')
                        i.fa.fa-times-circle-o
                      for error in messages.errors
                        div= error.msg
                  if messages.info
                    .alert.alert-info.fade.in
                      button.close(type='button', data-dismiss='alert')
                        i.fa.fa-times-circle-o
                      for info in messages.info
                        div= info.msg
                  if messages.success
                    .alert.alert-success.fade.in
                      button.close(type='button', data-dismiss='alert')
                        i.fa.fa-times-circle-o
                      for success in messages.success
                        div= success.msg

            .row.clearfix.content-wrap
              .col-sm-12.nobottommargin
                .nobottommargin
                  .fancy-title.title-border
                    h3=(possible_candidates.length) + ' match(es) found'
                  - for (var i = 1; i <= possible_candidates.length; i++) {  
                  div(class=(i % 3 == 0 ? 'col_one_third col_last' : 'col_one_third'))
                    .team
                      .team-image
                        img(src=possible_candidates[i-1].gravatar, alt='John Doe')
                      .team-desc
                        .team-title
                          h4=possible_candidates[i-1].typeform["29877943"] + " " + possible_candidates[i-1].typeform["29878535"]
                          span=possible_candidates[i-1].typeform["29877954"]
                        a.social-icon.inline-block.si-small.si-light.si-rounded.si-facebook(href=possible_candidates[i-1].typeform["34719475"])
                          i.icon-facebook
                          i.icon-facebook
                        a.social-icon.inline-block.si-small.si-light.si-rounded.si-linkedin(href=possible_candidates[i-1].typeform["34719491"])
                          i.icon-linkedin
                          i.icon-linkedin
                      #accordion.panel-group.nobottommargin
                        .panel.panel-default
                          .panel-heading
                            a(data-toggle="collapse", data-target="#"+possible_candidates[i-1]._id)
                              | Profile
                          .panel-collapse.collapse(id=possible_candidates[i-1]._id)
                            .panel-body
                              a Which Space would you Prefer?*
                              p
                                strong=possible_candidates[i-1].typeform["29877944"]
                              
                              a What is your Best Reach phone #?*
                              p
                                strong=possible_candidates[i-1].typeform["29878581"]
                              
                              a Gender
                              p
                                strong=possible_candidates[i-1].typeform["29877946"]
                              
                              a Age
                              p
                                strong=possible_candidates[i-1].typeform["29877951"]
                              
                              a Where are you from?*
                              p
                                strong=possible_candidates[i-1].typeform["29877953"]
                              
                              a Which industry do you work in?*
                              p
                                strong=possible_candidates[i-1].typeform["29877954"]
                              
                              a How tidy and clean are you?*
                              p
                                input.cleanliness_scale.form-control(name='cleanliness_scale', value=possible_candidates[i-1].typeform['29879208'], data-from=possible_candidates[i-1].typeform['29879208']) 
                              
                              a How many Days do you cook a week?*
                              p
                                input.cook_in_a_week.form-control(name='cook', value=possible_candidates[i-1].typeform['34693974'], data-from=possible_candidates[i-1].typeform['34693974']) 
                              
                              a What time do you go to work?*
                              p
                                strong=possible_candidates[i-1].typeform["34694137"]
                              
                              a What best describes your weekend?*
                              p
                                strong=possible_candidates[i-1].typeform["34694257"]
                              
                              a What time do you go to sleep?*
                              p
                                strong=possible_candidates[i-1].typeform["34694303"]
                              
                              a Do you expect a lot of Visitors?*
                              p
                                strong=possible_candidates[i-1].typeform["34694062"]
                              
                              a Comfortable/perferred living with?
                              p
                                - for (var j = 0; j < possible_candidates[i-1].typeform["29879310"].length; j++) {
                                  strong=possible_candidates[i-1].typeform["29879310"][j]
                                  <br/>  
                                - }
                              
                              a What Activities really Interest you? 
                              p
                                - for (var j = 0; j < possible_candidates[i-1].typeform["29879310"].length; j++) {
                                  strong=possible_candidates[i-1].typeform["29879066"][j]
                                  <br/>  
                                - }
                  - }
                  
              
      // #content end
      //
        Footer
        =============================================
      //
        <footer id="footer" class="dark">
        </footer>
    // #wrapper end
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='../js/jquery.js')
    script(type='text/javascript', src='../js/plugins.js') 
    script(type='text/javascript', src='../js/components/star-rating.js')

    // Date & Time Picker JS
    script(type='text/javascript', src='../js/components/moment.js')
    script(type='text/javascript', src='../js/components/datepicker.js')
    script(type='text/javascript', src='../js/components/timepicker.js')
    // Include Date Range Picker
    script(type='text/javascript', src='../js/components/daterangepicker.js')

    script(type='text/javascript', src='../js/components/bs-select.js')

    // Range Slider Plugin
    script(type='text/javascript', src='js/components/rangeslider.min.js')

    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='../js/functions.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
        
        $( '#vertical-nav nav ul li:has(ul)' ).addClass('sub-menu');

        $( '#vertical-nav nav ul li:has(ul) > a' ).append( ' <i class="icon-angle-down"></i>' );
        
        $( '#vertical-nav nav ul li:has(ul) > a' ).click( function(e){
          var element = $(this);
          $( '#vertical-nav nav ul li' ).not(element.parents()).removeClass('active');
          
          element.parent().children('ul').slideToggle( function() {
            $(this).find('ul').hide();
            $(this).find('li.active').removeClass('active');
          });
        
          $( '#vertical-nav nav ul li > ul' ).not(element.parent().children('ul')).not(element.parents('ul')).slideUp();
          
          element.parent('li:has(ul)').toggleClass('active');
          
          e.preventDefault();
        });

        $('.default').datepicker({
          autoclose: true,
          startDate: "today",
          todayHighlight: true,
          format: "dd-mm-yyyy"
        });

       // $('.selectsplitter').selectsplitter();

       $(".cleanliness_scale").ionRangeSlider({
          min: 0,
          max: 10,
          step: 1,
          values: [
            "zero", "one",
            "two", "three",
            "four", "five",
            "six", "seven",
            "eight", "nine",
            "ten"
          ],
          grid: true,
        });

        $(".cook_in_a_week").ionRangeSlider({
          min: 0,
          max: 7,
          step: 1,
          values: [
            "zero", "one",
            "two", "three",
            "four", "five",
            "six", "seven"
          ],
          grid: true,
        });

        $('#hobbies_extension_check').change(function(){
          if(this.checked)
              $('#hobbies_extension').css('display', 'inline-block');
          else
              $('#hobbies_extension').css('display', 'none');
        });

         $.ajax({
            
        });

      });
